<div class="row">
    <div class="col-12 jumbotron ">
        <div class="search-title"><h1 style="color:white;">Find Food</h1></div>
        <form>
            <div class="form-group">
                <div class="input-group mb-2">
                    <div class="input-group-prepend abc">
                        <div class="input-group-prepend-text">
                            <i class="material-icons">search</i>
                        </div>
                    </div>
                    <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="Search products"  (input)="onSearchText($event)">
                </div>
            </div>
        </form>
    </div>
</div>